<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>Owner</h2>
<form class="form-horizontal" id="add-owner-form" method="post">
  <div class="form-group has-feedback">
    <input id="firstName" type="text"/>
    <input id="lastName" type="text"/>
    <!--<input-->
        <!--th:replace="~{fragments/inputField :: input ('Last Name', 'name.lastName', 'text')}"/>-->
    <!--<input-->
        <!--th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}"/>-->
    <!--<input-->
        <!--th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}"/>-->
    <!--<input-->
        <!--th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}"/>-->
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" type="submit" th:text="Update Owner">Add Owner</button>
    </div>
  </div>
</form>
</body>
</html>
